# Hypothesis : 
**Students who get higher marks in maths, tends to get high marks in physics as well and vice versa.**

In this mini project we will calculate how one field is related with other in programming way. *#No Shortcuts* 

Here We have a small dataset of students with their marks. We will see what happen when we use df.corr() function in detail.

In [8]:
import pandas as pd 
df = pd.read_csv("/Users/kartikgaur/IIT-M/CT/Datasets/Scores.csv")
df.head()

,CardNo,Name,Gender,DateOfBirth,CityTown,Mathematics,Physics,Chemistry,Total
0,0,Bhuvanesh,M,7 Nov,Erode,68,64,78,210
1,1,Harish,M,3 Jun,Salem,62,45,91,198
2,2,Shashank,M,4 Jan,Chennai,57,54,77,188
3,3,Rida,F,5 May,Chennai,42,53,78,173
4,4,Ritika,F,17 Nov,Madurai,87,64,89,240

using corr function below to find the correlation between fields #shortcut

In [9]:
df.corr()

               CardNo  Mathematics   Physics  Chemistry     Total
CardNo       1.000000     0.194908  0.244810  -0.142274  0.134021
Mathematics  0.194908     1.000000  0.400951   0.331216  0.828598
Physics      0.244810     0.400951  1.000000  -0.006451  0.633122
Chemistry   -0.142274     0.331216 -0.006451   1.000000  0.646711
Total        0.134021     0.828598  0.633122   0.646711  1.000000

Below I am trying to check wheather gender plays any role with maths or physics marks.

In [15]:
df['Gender_encode'] = df['Gender'].apply(lambda x:1 if x=='M' else 0)
df.corr()

,CardNo,Mathematics,Physics,Chemistry,Total,Gender_encode
CardNo,1.000000,0.194908,0.244810,-0.142274,0.134021,-0.089374
Mathematics,0.194908,1.000000,0.400951,0.331216,0.828598,-0.048286
Physics,0.244810,0.400951,1.000000,-0.006451,0.633122,0.061024
Chemistry,-0.142274,0.331216,-0.006451,1.000000,0.646711,-0.291672
Total,0.134021,0.828598,0.633122,0.646711,1.000000,-0.138910
Gender_encode,-0.089374,-0.048286,0.061024,-0.291672,-0.138910,1.000000

all values here less than 0.50 , which supports the fact that gender of a human does not impact their marks #Stop_Gender_Descrimination ðŸ’¯

Below I have created two list with studentID/CardNo with their respective marks in physics and maths. Also I have sorted them as per the marks in descending order.

In [25]:
phy_list = df[['CardNo','Physics']].values.tolist()
physics_list = sorted(phy_list,key=lambda x:x[1],reverse=True)

math_list = df[['CardNo','Mathematics']].values.tolist()
new_math_list = sorted(math_list,key=lambda x:x[1],reverse=True)

[[5, 92],
 [7, 92],
 [11, 92],
 [18, 92],
 [23, 91],
 [9, 88],
 [16, 86],
 [28, 83],
 [6, 82],
 [17, 81],
 [19, 78],
 [27, 76],
 [25, 75],
 [13, 73],
 [10, 72],
 [24, 72],
 [26, 71],
 [21, 69],
 [20, 68],
 [29, 66],
 [0, 64],
 [4, 64],
 [8, 64],
 [12, 64],
 [14, 62],
 [22, 62],
 [15, 58],
 [2, 54],
 [3, 53],
 [1, 45]]

Below is a function that will take a list and divide that list into 4 parts. (as we have already sorted our maths and physics marks list)

In [35]:

def simpleGradeAssignment(l):
    q4 = len(l)/4
    q3 = len(l)/2
    q2 = 3*len(l)/4
    gradeA=[]
    gradeB=[]
    gradeC=[]
    gradeD=[]
    position = 0
    for x in l:
        if position > q2:
            gradeA.append(x[0])
        if position < q2 and position > q3:
            gradeB.append(x[0])
        if position < q3 and position > q4:
            gradeC.append(x[0])
        if position < q4:
            gradeD.append(x[0])
        
        position+=1
    return [gradeA,gradeB,gradeC,gradeD]


math = simpleGradeAssignment(new_math_list)
physics = simpleGradeAssignment(physics_list)

Below I have created another function that will test the hypothesis and return the value.

In [38]:
def hypothesis_test(A,B):
    confirm = 0
    reject = 0
    limit = 0 
    for limit in range(0,4):
        for x in A[limit]:
            if x in B[limit]:
                confirm+=1
            else:
                reject+=1
    
    return confirm / (confirm+reject) 

hypothesis_test(math,physics)

0.41379310344827586

If Value is less than 0.50 that means both the field are not related and there are random chances that if a student got good marks in maths then he will get good marks in physics. 

But if value would have been near to 0.80 than we could support our hypothesis here.

***Hence for Present Data We can reject the Hypothesis!!***